body {
    padding: 2rem;
    text-align: center;
}

h1 {
    color: #000;
}

#game {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: baseline;
}

#your-choice, #comp-choice {
    width: 6rem;
    height: 6rem;
    border: solid 3px #000;
    border-radius: 3rem;
    font-size: 4rem;
    line-height: 7rem;
    background: brown;
    color: #fff;
}

label {
    font-size: 4rem;

}

#R-R:checked ~ #game #your-choice::before,
#R-P:checked ~ #game #your-choice::before,
#R-S:checked ~ #game #your-choice::before
{
    content: "R";
}

#P-R:checked ~ #game #your-choice::before,
#P-P:checked ~ #game #your-choice::before,
#P-S:checked ~ #game #your-choice::before {
    content: "P";
}

#S-R:checked ~ #game #your-choice::before,
#S-P:checked ~ #game #your-choice::before,
#S-S:checked ~ #game #your-choice::before {
    content: "S";
}

#R-R:checked ~ #game #comp-choice::before,
#P-R:checked ~ #game #comp-choice::before,
#S-R:checked ~ #game #comp-choice::before {
    content: "R";
}

#R-P:checked ~ #game #comp-choice::before,
#P-P:checked ~ #game #comp-choice::before,
#S-P:checked ~ #game #comp-choice::before {
    content: "P";
}

#R-S:checked ~ #game #comp-choice::before,
#P-S:checked ~ #game #comp-choice::before,
#S-S:checked ~ #game #comp-choice::before {
    content: "S";
}

#choices {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#choices > div {
    position: relative;
    width: 3rem;
    height: 3rem;
    border: solid 3px #000;
    border-radius: 1.5rem;
    line-height: 3.5rem;
    background: rgb(240, 187, 122);
    color: #000;


}

label {
    position: absolute; 
    inset: 0;
    animation: loop 0.3 infinite;
}

label:nth-of-type(1){
    animation-delay: 0s;
}

label:nth-of-type(2) {
    animation-delay: 0.1s;
}

label:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes loop {
    from {
        z-index: 1;
    }
    to {
        z-index: 3;
    }
}

button {
    margin-top: 1rem;
    padding: 15px;
    border: solid 2px #000;
    background: brown ;
    color: #000;
}

